.TaskPageBackground {
  min-height: 100vh; //får containeren til at fylde hele skærmen

  background-color: #cfab93;

  #TaskPage {
    padding: 2rem;

    // mobil settings - basis
    #InputField {
      padding: 0.55rem 1rem;
    }

    #SubmitButton {
      padding: 0 0.7rem;
    }

    .TaskCardInputField {
      padding: 1rem;
      word-break: break-all;
      white-space: pre-wrap;
    }

    .TaskCard {
      padding-bottom: 0.55rem;
    }

    .TaskPageActions {
      display: inline-flex;
      flex-direction: row-reverse;
    }

    .RemoveFinishedTasksButton {
      padding: 0 0.5rem;
    }
  }

  // desktop settings
  @media (min-width: 750px) {
    #TaskPage {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr minmax(0, 40rem) 1fr;
      align-items: center;

      #InputForm {
        grid-column: 2;
      }

      #TaskField {
        grid-column: 2;
      }

      .TaskPageActions {
        grid-column: 3;
        padding-left: 1rem;
        flex-direction: row;
      }
      .RemoveFinishedTasksButton {
        // størrelse på knap
        width: 100%;
        max-width: fit-content;

        //grid placering
        grid-column: 3;
        grid-row: none;
        align-self: start;

        //afstand til andre knapper
        margin-bottom: 0.5rem;
        margin: 0 1rem 1rem 1rem;
      }
    }
  }
}
