.TaskPageBackground {
  min-height: 100vh; //får containeren til at fylde hele skærmen

  background-image: url("to-do baggrund.svg");
  background-size: cover;
  background-position: center;
    background-attachment: fixed;

  #TaskPage {
    padding: 2vw;

    // mobil settings - basis
    #flexbox-top-part {
      flex-direction: column;

      #InputField {
        padding: 0.55rem 1rem;
      }

      #SubmitButton {
        padding: 0 0.7rem;
      }
    }

    // desktop settings
    @media (min-width: 440px) {
      #flexbox-top-part {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr minmax(0, 40rem) 1fr;
        align-items: center;
        margin: 1rem;

        #InputForm {
          grid-column: 2;
          margin-right: 1rem;
        }
      }
    }

    .TaskCardInputField {
      padding: 1rem;
      word-break: break-all;
      white-space: pre-wrap;
    }

    .TaskCard {
      padding-bottom: 0.55rem;
    }
  }
}
