.TaskPageBackground {
  min-height: 100vh; //får containeren til at fylde hele skærmen

  background-color: #cfab93;
  // mobil settings - basis
  #TaskPage {
    padding: 2rem;
  }

  // desktop settings
  @media (min-width: 750px) {
    #TaskPage {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr minmax(0, 40rem) 1fr;
      align-items: center;

      #InputForm {
        grid-column: 2;
      }

      #TaskField {
        grid-column: 2;
      }

      .TaskPageActions {
        grid-column: 3;
        padding-left: 1rem;
        flex-direction: row;
      }
      .RemoveFinishedTasksButton {
        // størrelse på knap
        width: 100%;
        max-width: fit-content;

        //grid placering
        grid-column: 3;
        grid-row: none;
        align-self: start;

        //afstand til andre knapper
        margin-bottom: 0.5rem;
        margin: 0 1rem 1rem 1rem;
      }
    }
  }
}
