.DeleteHistoryDialogBody {
  .UpperCardArea {
    .DeleteAllTasksPermanentlyButton {
      padding: 0.5rem;
      margin: 0.2rem 0rem;
    }
  }

  .LowerCardArea {
    margin-top: 1rem;

    .DeletedTaskContainer {
       margin-bottom: 1.5rem; 
      .ButtonArea {
        .RestoreTaskButton,
        .DeleteTaskPermanentlyButton {
          margin: 0.2rem 0.5rem;
        }
      }
    }
  }
}
